{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Welcome!{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% block stylesheets %}{% endblock %}
	<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
	
	{% stylesheets '@bootstrap_css' output="css/bootstrap.css" %}
	    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	
	<style>
.container-full {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
	</style>
</head>
	<body>
        <div class="container">
			{% block body %}{% endblock %}
			{% block javascripts %}{% endblock %}
			<div class="row">
				<div class="col-lg-6">50% (col-lg-6)</div>
				<div class="col-lg-6">50% (col-lg-6)</div>
			</div>
        </div>

<div class="container-full">
    <div class="row">
        <div class="col-md-1">1</div>
        <div class="col-md-1">1</div>
        <div class="col-md-1">1</div>
        <div class="col-md-1">1</div>
        <div class="col-md-1">1</div>
        <div class="col-md-1">1</div>
        <div class="col-md-1">1</div>
        <div class="col-md-1">1</div>
        <div class="col-md-1">1</div>
        <div class="col-md-1">1</div>
        <div class="col-md-1">1</div>
        <div class="col-md-1">1</div>
        <div class="col-md-1">1</div>
        <div class="col-md-1">1</div>
        <div class="col-md-1">1</div>
        <div class="col-md-1">1</div>
        <div class="col-md-1">1</div>
    </div>
</div>

	   
	
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('js/jquery.js') }}"><\/script>')</script>
	{% javascripts '@bootstrap_js' output="js/bootstrap.js" %}
        <script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	</body>
</html>