{% extends 'FinnmarkCinemaBundle::content.html.twig' %}


{% block content %}
    {% for room in rooms %}
    <div class="row">
        <div class="col-lg-3">{{ room.name }}</div>
    </div>
    {% endfor %}
{% endblock %} 
