{% extends 'FinnmarkCinemaBundle::content.html.twig' %}


{% block content %}
    {% for movie in movies %}
    <div class="row">
        <div class="col-lg-3">{{ movie.title }}</div>
        <div class="col-lg-9">
            {% for version in movie.movieVersions %}
                <div class="col-lg-3">{{ version.length|date('h:i') }}</div>
                <div class="col-lg-9">{{ version.type }}</div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
{% endblock %} 
