{% extends 'FinnmarkCinemaBundle::content.html.twig' %}

{% block content %}
    <ul class="media-list">
	    {% for mv in moviesVersions %}
	        <li class="media">
			    <a class="pull-left" href="#">
	                <div class="movie-media-cover">
                        <img src="{{ media.getCoverURL(mv) }}" class="media-object" alt="" />
	                </div>
			    </a>
			    <div class="media-body">
		            <div class="pull-right">
		                {% for seance in mv.seances %}
		                    <div>{{ seance.at|date('H:i') }}</div>
		                {% endfor %}
		            </div>
			        <h4 class="media-heading">{{ mv.movie.title }}</h4>
	                <h4 class="media-heading">{{ mv.type }}</h4>
	                <p>
			            <div>{{ mv.length }}min.</div>
	                </p>
	                <div class="list-group-item-text">{{ mv.description }}</div>
                </div>
	        </li>
	    {% endfor %}
    </ul>
{% endblock %} 


