{% extends 'FinnmarkCinemaBundle::content.html.twig' %}

{% block content %}
    <div class="booking-process" 
         data-seance="{{ seance.id }}" 
         data-room-url="{{ path('ajax-booking-room') }}" 
         data-save-url="{{ path('ajax-booking-save') }}" 
         data-confirm-url="{{ path('ajax-booking-confirm') }}" 
         >
        <div class="booking-process-body">
            <div class="booking-process-errors alert alert-warning"
                 data-message-selection-empty="{{ 'Please select at least one seat'|trans }}"
                 ></div>
            <div class="booking-process-step booking-process-step-room">
                {% include 'FinnmarkCinemaBundle::common/booking.html.twig' %}
            </div>
            <div class="booking-process-step booking-process-step-confirm">
            </div>
            <div class="booking-process-menu btn-group">
                <div class="btn btn-success disabled step-prev"><i class="glyphicon glyphicon-arrow-left"></i> <span>{{ 'Go Back'|trans }}</span></div>
                <div class="btn btn-success disabled step-next"><span>{{ 'Proceed'|trans }}</span> <i class="glyphicon glyphicon-arrow-right"></i></div>
            </div>
        </div>
        <div class="booking-process-busy alert alert-success">
            {{ 'Processing...'|trans }}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    
    {% javascripts "@FinnmarkCinemaBundle/Resources/public/js/base.ui.widget.js" %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
    
    {% javascripts 
        "@FinnmarkCinemaBundle/Resources/public/js/seanceBooking/booking.ui.widget.js" 
        "@FinnmarkCinemaBundle/Resources/public/js/seanceBooking/bookingConfirm.ui.widget.js" 
        "@FinnmarkCinemaBundle/Resources/public/js/seanceBooking/bookingProcess.ui.widget.js" 
    %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}

{% endblock %}


{% block error %}
    {% if error is defined %}
            {{ error }}
    {% endif %}
{% endblock %}