@CHARSET "UTF-8";
/* bootstrap full width container */
.container-full {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}


/* Movie Media */
.movie-media-cover {
	padding:2px;
	margin:2px;
	border: 1px solid #ccc;
	width: 126px;
	height: 179px;
	background: transparent url(../images/cover.png) center center no-repeat;
}
.movie-media-cover img {
	width: 120px;
	height: 173px;
}

/* room display */
.booking{
	margin-bottom: 10px;
        display: none;
}
.room{
	position: relative;
}
.room-screen{
	border-bottom: 5px solid #335544;
	margin-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
	color: #999;
}

.room-area{
	position: absolute;
	background-color: #f4f4f4;
	display: table;
}

.room-seat{
	position: absolute;
	background-color: #999;
	border-radius: 4px 4px 0px 0px;
	cursor: pointer;
	font-size: 9px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	color: #f4f4f4;
}
.room-seat:hover{
	opacity: 0.8;
}

.room-seat-my {
	background-color: #080;
}

.room-seat-taken {
	background-color: #FFD700;
	cursor: auto;
}
.reservations-panel{
	padding: 10px;
}
.reservations-list .list-group-item{
	float: left;
	min-width: 80px;
	text-align: center;
	border-radius: 0px;
}

.booking-process-errors, .booking-process-busy{
    display: none;
}