{# app/Resources/views/base.html.twig #}
{% if ajaxResponse is not defined %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Welcome!{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
	
	{% stylesheets '@bootstrap_css' output="css/bootstrap.css" %}
	    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	
    {% block stylesheets %}{% endblock %}
</head>
	<body>
            {% block body %}{% endblock %}
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	    <script>window.jQuery || document.write('<script src="{{ asset('js/jquery.js') }}"><\/script>')</script>
		
		{% javascripts '@bootstrap_js' output="js/bootstrap.js" %}
	        <script src="{{ asset_url }}"></script>
		{% endjavascripts %}
		
		{% javascripts '@jquery_ui_js' %}
	        <script src="{{ asset_url }}"></script>
		{% endjavascripts %}
		
		{% block javascripts %}{% endblock %}
	</body>
</html>
{% else %}
    {{ block('body') }}
{% endif %}