{% extends 'FinnmarkCinemaBundle::base.html.twig' %}
{% block body %}
<div id="cinemaHeader">
    <div class="container">
        <div class="row">
           <div class="col-lg-12">
                <div class="jumbotron">
                    Header
                </div>
            </div>
        </div>
    </div>
</div>
<div id="cinemaContent">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                    {% set _error = block('error') %}
                    {% if _error|trim|length > 0 %}
	                <div class="alert alert-danger">
				        {{ _error|raw }}
	                </div>
				{% endif %}
                {% block content %}{% endblock %}
            </div>
            <div id="cinemaContent" class="col-md-4 col-sm-6">
			   {% block sidebar %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Panel title</h3>
                        </div>
                        <div class="panel-body">
                            Panel content
                        </div>
					</div>
			   {% endblock %}
		   </div>
		   <div id="cinemaContent" class="col-md-4 col-sm-6">
			   {% block sidebar2 %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Panel title</h3>
                        </div>
                        <div class="panel-body">
                            Panel content
                        </div>
					</div>
			   {% endblock %}
		   </div>
		</div>
	</div>
</div>
<div id="cinemaFooter">
	<div class="container">
	    <div class="row">
	        <div class="col-xl-12">Footer</div>
	    </div>
	</div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    {% stylesheets "@FinnmarkCinemaBundle/Resources/public/css/*" filter="cssrewrite" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


