{% set roomSize = seance.room.map %}
<div class="booking clearfix">
    <div style="width:{{ roomSize.width }}px;" class="pull-left">
        <div class="room-screen">screen</div>
        <div class="room" style="height:{{ roomSize.height }}px;">
            {% for roomArea in seance.room.roomAreas %}
                {% set roomAreaSize = roomArea.map %}
                <div class="room-area" style="width:{{ roomAreaSize.width }}px;height:{{ roomAreaSize.height }}px;top:{{ roomAreaSize.top }}px;left:{{ roomAreaSize.left }}px;">
                    {% for seat in roomArea.seats %}
                        {% set seatMap = seat.map %}
                        {% set isBooked = bookingService.isBooked(seat, seance) %}
                        {% set isMy = bookingService.isBookedByUser(seat, seance, booking) %}
                        <div 
                              data-name="{{ seat.name }}" 
                              data-id="{{ seat.id }}"
                              class="room-seat {{ isMy ? 'room-seat-my' : isBooked ? 'room-seat-taken' : '' }}" 
                              style="width:{{seatMap.width}}px;height:{{seatMap.height}}px;top:{{seatMap.top}}px;left:{{seatMap.left}}px;" 
                          >{{ seat.name }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="media-body reservations-panel">
        <h4>{{ 'Your selection:'|trans }}</h4>
        <ul class="reservations-list list-group"></ul>
    </div>
</div>
